[Unit]
Description=Rocketry@VT Payload Startup Service

[Service]
#CHANGE!!! ExecStart must point to payload.sh, perhaps use the below line? Note only allowed one line of "ExecStart=..."
#ExecStart=/home/debian/Payload/payload.sh
ExecStart= /home/pbroome4/Payload/payload.sh

[Install]
WantedBy=multi-user.target
