[Unit]
Description=Rocketry@VT Payload Startup Service

[Service]
#CHANGE!!! ExecStart must point to payload.sh, perhaps use the below 2 lines instead?"
#ExecStart=/home/debian/Payload/payload.sh
#ExecStop=/home/debian/Payload/Misc/execStop.sh
ExecStart=/home/pbroome4/Payload/payload.sh
ExecStop=/home/pbroome4/Payload/Misc/execStop.sh

[Install]
WantedBy=multi-user.target
